Greetings from template!
TestVariable: <%= @testVariable %>
Operating system release = <%= @operatingsystemrelease %>
<% if @operatingsystemrelease != "13.10" -%>
     Time to change to a new release?
<% else -%>
     You have the newest release!
<% end -%>
